* {
    margin: 2;
    padding: 2;
}

body {
    background-color: #EFE7DA;
    text-align: center; 
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6vmin;
    align-items: center;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: navajowhite;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: #0E4749
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #D3C8B7;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #D3C8B7;
    border-radius: 1rem;
    border: none;
}

#msg {
    font-size: 5vmin;
}

.msg-container {
    height: 30vmin;
}

.hide {
    display: none;
}